.journal-header {
  background-color: purple;
  color: white;
  height: 60px;
}

.column-50 {
  width: 50%;
}

.entry-container {
  display: flex;

  /* align-items: left; */
}

.entry-img {
  margin: 40px;
}

.entry-text {
  margin: 40px;
}

.entry-img img {
  max-height: 300px;
  max-width: 300px;
}
